/* Fonts */
/* https://stackoverflow.com/questions/41676054/how-to-add-fonts-to-create-react-app-based-projects */

@font-face {
  font-family: 'Furore';
  src: local('Furore'), url(./assets/fonts/Furore.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: local('IBMPlexMono-Regular'), url(./assets/fonts/IBMPlexMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono-Light';
  src: local('IBMPlexMono-Light'), url(./assets/fonts/IBMPlexMono-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono-Bold';
  src: local('IBMPlexMono-Bold'), url(./assets/fonts/IBMPlexMono-Bold.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: IBMPlexMono-Regular -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
